* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #ffcc33 20%, #ffb347);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  background: radial-gradient(#ffb347, #ffcc33);
  min-width: 285px;
}